:root {
	--light-p: #48cae4;
	--medium-p: #00b4d8;
	--dark-p: #0096c7;
}

*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	padding: 20px;
}

.header {
	position: relative;
	height: 95vh;
	background: linear-gradient(to right, #00b4d8cc, #48cae4cc),
		url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
	position: absolute;
	left: 40px;
	top: 40px;
}

.logo {
	height: 33px;
}

.text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.heading-primary {
	color: #fff;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}
.heading-primary-main {
	font-size: 4rem;
	font-weight: 400;
	letter-spacing: 1.5rem;
}
.heading-primary-sub {
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.6rem;
}
